<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div id="todo_item_wrapper">
	<%= render @todo_list.todo_items %>
	<div id="form">
		<%= render :partial =>  "todo_items/form" %>
	</div>
</div>

<div class="links">
	<%= link_to 'Edit', edit_todo_list_path(@todo_list), class: "btn btn-default" %>
	<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: {confirm: "Are you sure?"},  class: "btn btn-danger" %>
	<%= link_to 'Back', todo_lists_path, class: "btn btn-default" %>
</div>

